<div class="generic-back-button" [ngClass]="{'left': !env.isMobile}">
  <ion-button routerLink="/login" fill="clear">
    <span>Voltar</span>
  </ion-button>
</div>
<ion-content>
  

  <ion-row>
    <div class="description">
      <img *ngIf="!env.isMobile" class="logo" style="width: 25px;" src="/assets/images/logo_pink_small.svg">
      <h4>       
        Que tipo de usuário deseja cadastrar?
      </h4>
    </div>
    <ion-col (click)="navigate('/signup')" class="col-empresa" sizeXs="12" sizeMd="6">
      <div class="bk-img-empresa">
        <img src="/assets/images/company-bk.png">
      </div>
      <div class="title">
        <h3>Empresa</h3>
      </div>
    </ion-col>
    <ion-col (click)="navigate('/signup')" sizeXs="12" sizeMd="6" class="col-influencer">
      <div class="bk-img-influencer pulse">
        <img src="/assets/images/influencer-bk.jpg">
      </div>
      <div class="title">
        <h3>Influencer</h3>
      </div>
    </ion-col>
  </ion-row>

</ion-content>