<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Postagem</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="postagem"></ion-back-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" (click)="save()" >
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-row>
      <div class="section">
        <ion-icon color="secondary" src="/assets/images/story-icon.svg"></ion-icon>
        <div class="title">
          <ion-text color="secondary">Story</ion-text>
        </div>
        <div class="line"></div>
      </div>
      <div class="content-section">
        <ion-row class="input-button">
          <mat-form-field appearance="outline">
            <mat-label>Qtd Story</mat-label>
            <input matInput />
          </mat-form-field>


          <input style="display: none" type="file" (change)="onFileChanged($event, 'story')" #fileInputStory multiple>
          <ion-button (click)="fileInputStory.click()" color="secondary"> Anexar Story</ion-button>

        </ion-row>
        <ion-row class="images-upload">
          <!-- <div>
            <img src="/assets/images/print-teste.jpg">
          </div> -->
          <div class="div-uploaded-image" *ngFor="let image of uploadedImages['story']; let i = index">
            <div class="close-button">
              <ion-button (click)="removeImage(image.id, 'story')" fill="clear">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </div>
            <img (click)="openModalImage(image)" [src]="_DomSanitizationService.bypassSecurityTrustUrl(image.tempImage)"
              width="200" />
            <div class="div-visualization-field">
              <mat-form-field appearance="outline">
                <mat-label>Visualizações</mat-label>
                <input [(ngModel)]="image.visualization" type="text" matInput [maxlength]="12"  mask="separator.2" thousandSeparator="." />
              </mat-form-field>
            </div>
          </div>
          <h3 style="color: gray;" *ngIf="!(uploadedImages['story'] && uploadedImages['story'].length)">
            Você ainda não colocou nenhuma imagem ):
          </h3>


        </ion-row>
      </div>
    </ion-row>

    <ion-row>
      <div class="section">
        <ion-icon color="primary" src="/assets/images/feed-icon.svg"></ion-icon>
        <div class="title">
          <ion-text color="primary">Feed</ion-text>
        </div>
        <div class="line"></div>
      </div>
      <div class="content-section">
        <ion-row class="input-button">
          <mat-form-field appearance="outline">
            <mat-label>Qtd Feed</mat-label>
            <input matInput />
          </mat-form-field>

          <input style="display: none" type="file" (change)="onFileChanged($event, 'feed')" #fileInputFeed multiple>
          <ion-button (click)="fileInputFeed.click()" color="primary"> Anexar Feed</ion-button>

        </ion-row>
        <ion-row class="images-upload">

          <div class="div-uploaded-image" *ngFor="let image of uploadedImages['feed']; let i = index">
            <div class="close-button">
              <ion-button (click)="removeImage(image.id, 'feed')" fill="clear">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </div>
            <img (click)="openModalImage(image)"  [src]="_DomSanitizationService.bypassSecurityTrustUrl(image.tempImage)" width="200" />
            <div class="div-visualization-field">
              <mat-form-field appearance="outline">
                <mat-label>Visualizações</mat-label>
                <input [(ngModel)]="image.visualization" type="text" matInput [maxlength]="12"  mask="separator.2" thousandSeparator="." />
              </mat-form-field>
            </div>
          </div>
          <h3 style="color: gray;" *ngIf="!(uploadedImages['feed'] && uploadedImages['feed'].length)">
            Você ainda não colocou nenhuma imagem ):
          </h3>
        </ion-row>
      </div>
    </ion-row>

    <ion-row>
      <div class="section">
        <ion-icon color="tertiary" src="/assets/images/reels-icon.svg"></ion-icon>
        <div class="title">
          <ion-text color="tertiary">Reels</ion-text>
        </div>
        <div class="line"></div>
      </div>
      <div class="content-section">
        <ion-row class="input-button">
          <mat-form-field appearance="outline">
            <mat-label>Qtd Reels</mat-label>
            <input matInput />
          </mat-form-field>

          <input style="display: none" type="file" (change)="onFileChanged($event, 'reels')" #fileInputReels multiple>
          <ion-button (click)="fileInputReels.click()" color="tertiary"> Anexar Reels</ion-button>

        </ion-row>
        <ion-row class="images-upload">

          <div class="div-uploaded-image" *ngFor="let image of uploadedImages['reels']; let i = index">
            <div class="close-button">
              <ion-button (click)="removeImage(image.id, 'reels')" fill="clear">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </div>
            <img (click)="openModalImage(image)"  [src]="_DomSanitizationService.bypassSecurityTrustUrl(image.tempImage)" width="200" />
            <div class="div-visualization-field">
              <mat-form-field appearance="outline">
                <mat-label>Visualizações</mat-label>
                <input [(ngModel)]="image.visualization"  type="text" matInput  [maxlength]="12"  mask="separator.2" thousandSeparator="."/>
              </mat-form-field>
            </div>
          </div>
          <h3 style="color: gray;" *ngIf="!(uploadedImages['reels'] && uploadedImages['reels'].length)">
            Você ainda não colocou nenhuma imagem ):
          </h3>
        </ion-row>
      </div>
    </ion-row>
  </div>

</ion-content>