<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Postagem</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="postagem"></ion-back-button>
    </ion-buttons>
 
 
  </ion-toolbar>
</ion-header>
<ion-content> 
  <div>
    <ion-row>
      <div class="section">
        <ion-icon
          color="secondary"
          src="/assets/images/story-icon.svg"
        ></ion-icon>
        <div class="title"><ion-text color="secondary">Feed</ion-text></div>
        <div class="line"></div>
      </div>
      <div class="content-section">
        <ion-row class="input-button">
          <mat-form-field appearance="outline">
            <mat-label>Qtd Story</mat-label>
            <input matInput />
          </mat-form-field>

          <ion-button color="secondary">Anexar Story</ion-button>
        </ion-row>
        <ion-row class="images-upload">
          <div>
            <img src="/assets/images/print-teste.jpg">
          </div>
        </ion-row>
      </div>
    </ion-row>

    <ion-row>
      <div class="section">
        <ion-icon color="primary" src="/assets/images/feed-icon.svg"></ion-icon>
        <div class="title"><ion-text color="primary">Feed</ion-text></div>
        <div class="line"></div>
      </div>
      <div class="content-section">
        <ion-row class="input-button">
          <mat-form-field appearance="outline">
            <mat-label>Qtd Feed</mat-label>
            <input matInput />
          </mat-form-field>

          <ion-button color="primary">Anexar Feed</ion-button>
        </ion-row>
        <ion-row class="images-upload">
          <div>
            <img src="/assets/images/print-teste.jpg">
            <img src="/assets/images/print-teste.jpg">
          </div>
        </ion-row>
      </div>
    </ion-row>

    <ion-row>
      <div class="section">
        <ion-icon
          color="tertiary"
          src="/assets/images/reels-icon.svg"
        ></ion-icon>
        <div class="title"><ion-text color="tertiary">Reels</ion-text></div>
        <div class="line"></div>
      </div>
      <div class="content-section">
        <ion-row class="input-button">
          <mat-form-field appearance="outline">
            <mat-label>Qtd Reels</mat-label>
            <input matInput />
          </mat-form-field>

          <ion-button color="tertiary">Anexar Reels</ion-button>
        </ion-row>
        <ion-row class="images-upload">
          <div>
            <img src="/assets/images/print-teste.jpg">
          </div>
        </ion-row>
      </div>
    </ion-row>
  </div>
  
</ion-content>
