ion-title{
    color:var( --ion-color-dark-tint);
}


.title-img{
    display: flex;
    align-items: center;
}

.avatar{
    display: flex;
    align-items: center;
    &:hover{
        cursor: pointer;
    }
    margin-right: 0.5rem;
    img{
        max-width: 90px;
    }
}