<app-header></app-header>

<ion-content>
  <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goTo('')" >
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-row>
      <mat-form-field appearance="outline">
        <mat-label><ion-icon style="margin-right: 0.5rem;" name="search-outline"></ion-icon>Buscar Postagem</mat-label>
        <input (keyup)="filter($event)" placeholder="Digite nome de um influencer" matInput />
      </mat-form-field>
    </ion-row>
    <h3 *ngIf="!(postagens && postagens.length)">Ainda não há postagens );</h3>
    <ion-card *ngFor="let postagem of filteredPosts" (click)="goTo(postagem)">
        <ion-card-content>
          <ion-row style="align-items: center;">
            <ion-thumbnail class="user-avatar">
              <img src="/assets/images/aa.jpg" />
            </ion-thumbnail>
    
            <!-- <ion-col style="text-align: start;" sizeXs="5" sizeMd="3"><span>Isabel ferreira dos santos</span></ion-col> -->
            <ion-col style="text-align: start;" sizeXs="9" sizeMd="2.5" class="col-label">
                <span class="title-col">Nome</span>
                <span>{{postagem.nome}}</span>
            </ion-col>
            <ion-col sizeXs="2.5" sizeMd="2" class="col-label">
                <span class="title-col">Story</span>
                <span>{{postagem.story}}</span>
            </ion-col>
         
            <ion-col sizeXs="3" sizeMd="2"  class="col-label">
                <span class="title-col">Feed</span>
                <span>{{postagem.feed}}</span>
            </ion-col>
            <ion-col sizeXs="3" sizeMd="2" class="col-label">
                <span class="title-col">Reels</span>
                <span>{{postagem.reels}}</span>
            </ion-col>
            <ion-col sizeXs="3.5" sizeMd="2.5" class="col-label">
                <span class="title-col">Data</span>
                <span>{{postagem.data}}</span>
            </ion-col>
          
          </ion-row>
        </ion-card-content>
      </ion-card>
</ion-content>
