<ion-content [ngClass]="{'ion-padding': env.isMobile}" class="ion-no-padding">
  <div class="generic-back-button" [ngClass]="{'left': !env.isMobile}">
    <ion-button routerLink="/choose-type" fill="clear">
      <span>Voltar</span>
    </ion-button>
  </div>
  <ion-row>
    <ion-col class="col-title-form" sizeXs="12" size="9" sizeLg="9">
      <div class="title-form">
        <div class="img-cadastrar">
          <img style="max-width: 40px" src="/assets/images/logo_pink_small.svg" />
          <span class="generic-title">Cadastrar {{type}}</span>
        </div>

        <ion-col size="auto" class="col-form-content">
          <div class="col-content">
            <ion-row>
              <form [formGroup]="form">
                <div class="form-content">
                  <div class="content">
                    <mat-form-field appearance="outline">
                      <mat-label>Nome</mat-label>
                      <input formControlName="nome" matInput />
                      <mat-error>
                        <p>{{getErrorMsg('nome', form.controls?.nome)}}</p>
                      </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Telefone</mat-label>
                      <input formControlName="telefone" matInput [maxlength]="15" mask="(00) 00000-0000" type="text"/>
                      <mat-error>
                        <p>{{getErrorMsg('telefone', form.controls?.telefone)}}</p>
                      </mat-error>
                    </mat-form-field>


                    <!-- INFLUENCER -->
                    <mat-form-field *ngIf="checkUrlTypeInfluencer()" appearance="outline">
                      <mat-label>Qtd Seguidores</mat-label>
                      <input formControlName="quantidadeSeguidores" matInput type="number"/>
                      <mat-error>
                        <p>{{getErrorMsg('quantidadeSeguidores', form.controls.quantidadeSeguidores)}}</p>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngIf="checkUrlTypeInfluencer()" appearance="outline">
                      <mat-label>Link Rede Social</mat-label>
                      <input formControlName="linkRedeSocial" matInput />
                      <mat-error>
                        <p>{{getErrorMsg('linkRedeSocial', form.controls.linkRedeSocial)}}</p>
                      </mat-error>
                    </mat-form-field>

                    <!-- EMPRESA -->
                    <mat-form-field *ngIf="!checkUrlTypeInfluencer()" appearance="outline">
                      <mat-label>CNPJ</mat-label>
                      <input [maxlength]="14" mask="CPF_CNPJ" formControlName="cnpj" matInput />
                      <mat-error>
                        <p>{{getErrorMsg('cnpj', form.controls.cnpj)}}</p>
                      </mat-error>
                    </mat-form-field>


                  </div>
                  <div class="content">
                    <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input formControlName="email" matInput />
                      <mat-error>
                        <p>{{getErrorMsg('email', form.controls.email)}}</p>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Confirmar Email</mat-label>
                      <input formControlName="confirmEmail" matInput />
                      <mat-error>
                        <p>{{getErrorMsg('confirmEmail', form.controls.confirmEmail)}}</p>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Senha</mat-label>
                      <input type="password" formControlName="password" matInput />
                      <mat-error>
                        <p>{{getErrorMsg('password', form.controls.password)}}</p>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Confirmar Senha</mat-label>
                      <input type="password" formControlName="confirmPassword" matInput />
                      <mat-error>
                        <p>{{getErrorMsg('confirmPassword', form.controls.confirmPassword)}}</p>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <ion-button (click)="signUp()" style="width: 100%" expand="block">
                Cadastrar
              </ion-button>
            </ion-row>
          </div>
        </ion-col>
      </div>
    </ion-col>
    <ion-col *ngIf="!env.isMobile" class="desktop-image">
      <img src="/assets/images/cadastro_desktop.png" />
    </ion-col>
  </ion-row>
</ion-content>