
<ion-app>
 
  <ion-split-pane  style="z-index: 2;" contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="end">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <img src="/assets/images/logo_pink.svg">
          </ion-list-header>        
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
             <!--  <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon> -->
             <ion-icon style="margin-right: 0.5rem;" color="primary" [src]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle  auto-hide="false">
            <ion-item (click)="logout()"lines="none" detail="false" >
         
              <ion-icon style="margin-right: 0.5rem;" color="primary" name="log-out-outline"></ion-icon>
              <ion-label>{{ 'Sair' }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
         
        </ion-list>     
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
