<app-header></app-header>

<ion-content>
  <div class="cards">
    <ion-card>
      <ion-card-content>
        <ion-row>
          <div size="4" class="img-title">
            <small> Usuário </small>
            <ion-thumbnail>
              <img src="/assets/images/aa.jpg" />
            </ion-thumbnail>
          </div>
          <div class="col-name" size="8">
            <p>Isabel Ferreira</p>
            <p><ion-icon  name="at-outline"></ion-icon> isabelfrreira</p>
            <p><ion-icon src="/assets/images/followers-icon.svg"></ion-icon>1520</p>
          </div>
        </ion-row>
        <ion-row class="more-info">
          <small
            >Saiba mais <ion-icon name="chevron-forward-outline"></ion-icon
          ></small>
        </ion-row>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-row>
          <div size="4" class="img-title">
            <div>
              <small> Última Postagem </small>
              <p class="title-card-postagem">Adidas</p>
            </div>
            <ul>
              <li>
                <ion-icon src="/assets/images/feed-icon.svg"></ion-icon>
                <p>Feeds: 1</p>
              </li>
              <li>
                <ion-icon src="/assets/images/story-icon.svg"></ion-icon>
                <p>Story: 2</p>
              </li>
              <li>
                <ion-icon src="/assets/images/reels-icon.svg"></ion-icon>
                <p>Reels: 4</p>
              </li>
            </ul>
          </div>
        </ion-row>
        <ion-row class="more-info">
          <small
            >Saiba mais <ion-icon name="chevron-forward-outline"></ion-icon
          ></small>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
