ion-content{
    --padding-bottom: 2rem;
    --padding-top: 2rem;
    --padding-start: 2rem;
    --padding-end: 2rem;
}

.recuperar-senha{
    font-size: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


form{
  
    width: 100%;

    .mat-form-field{
        width: 100%;
    }
}


.row-button{


    ion-button{
        width: 100%;
    }
}

img{
    max-width: 40px;
}