/*     ion-content{
        --padding-bottom: 1rem;
        --padding-top: 1rem;
        --padding-start: 1rem;
        --padding-end: 1rem;
    } */


.recuperar-senha{
    font-size: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


form{
  
    width: 100%;

    .mat-form-field{
        width: 100%;
    }
}


.row-button{


    ion-button{
        width: 100%;
    }
}

img{
    max-width: 40px;
}