
<ion-content
  [ngClass]="{'ion-padding': env.isMobile}"
  class="ion-no-padding content-withou-scroll"
>


<div class="generic-back-button">
  <ion-back-button defaultHref="login" icon="" text="Voltar"> </ion-back-button>
</div>
  <div *ngIf="!newPasswordScreen">
    <ion-row>
      <ion-col class="col-form-content">
        <div class="form-content">
          <ion-row>
            <img
              style="max-width: 40px"
              src="/assets/images/logo_pink_small.svg"
            />
          </ion-row>
          <ion-row class="recuperar-senha">
            <span>Recuperar Senha</span>
          </ion-row>
          <ion-row>
            <form [formGroup]="form">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput />
              </mat-form-field>
            </form>
          </ion-row>
          <ion-row class="row-button">
            <ion-button expand="block">Recuperar</ion-button>
          </ion-row>
        </div>
      </ion-col>
      <ion-col *ngIf="!env.isMobile" size="6" class="desktop-image">
        <img src="/assets/images/login_image.png" />
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="newPasswordScreen">
    <ion-row>
      <ion-col class="col-form-content">
        <div class="form-content">
          <ion-row>
            <img
              style="max-width: 40px"
              src="/assets/images/logo_pink_small.svg"
            />
          </ion-row>
          <ion-row class="recuperar-senha">
            <span>Nova Senha</span>
          </ion-row>
          <ion-row>
            <form [formGroup]="form">
              <mat-form-field appearance="outline">
                <mat-label>Nova Senha</mat-label>
                <input formControlName="newPassword" matInput />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirme a senha</mat-label>
                <input formControlName="confirmPassword" matInput />
              </mat-form-field>
            </form>
          </ion-row>
          <ion-row class="row-button">
            <ion-button expand="block">Salvar</ion-button>
          </ion-row>
        </div>
      </ion-col>
      <ion-col *ngIf="!env.isMobile" size="6" class="desktop-image">
        <img src="/assets/images/login_image.png" />
      </ion-col>
    </ion-row>
  </div>
</ion-content>
