form{
    width: 100%;
    .mat-form-field{
        width: 100%;
    }

    padding-top: 0.5rem;
}


.mat-slider-horizontal {
    height: 48px;
    width: 100%;
}

span{
    text-transform: inherit;
}

.section{
    margin-top: 0.5rem;
}


.public-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    border: solid 1px var(--ion-color-medium);
    border-radius: 8px;

    .content-title{
        padding: 0.5rem 0.5rem 0.5rem 0.2rem;
        font-weight: 500;
    }

    ion-col{
        .mat-checkbox{
            max-width: 120px;
            min-width: 90px;
        }
    }
   
   

}


ion-row{
    margin: 0.5rem 0 1rem 0;
}

.banco-agencia-cc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .banco{

        max-width: 270px;
    }

    .mat-form-field{
        max-width: 330px;
    }

    .cc-agencia{
        display: flex;
        justify-content: space-between;
    
        .mat-form-field{
            max-width: 110px;
            padding-right: 0.5rem;
        }
    }
}

$field-with: 330px;

.flex-content{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .mat-form-field{
        max-width: $field-with;
    }
        
        
    .flex-field{
            
        display: flex;
        justify-content: space-between;
        width: $field-with;

        .numero{
            max-width: 80px;
            margin-right: 1rem;
        }

        .complemento{
            max-width: 100%;
        }
    }   

}

.tag-idade-genero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    .idade{
        max-width: 130px;
        padding-right: 1rem;
    }

    .genero{
        max-width: 165px;
    }
}




